<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.DepartmentDao">


    <select id="selectAll" resultType="department">
        select * from department
    </select>

    <select id="selectById" parameterType="String" resultType="department">
        select * from department
        where dno=#{dno}
    </select>

    <select id="search" resultType="department">
        select * from department
    </select>

    <insert id="addDepartment" parameterType="department">
        insert into department(`dno`,`dname`)
        values (#{dno},#{dname})
    </insert>

    <update id="updateDepartment" parameterType="department">
        update department set dname=#{dname}
        where dno=#{dno}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from department
        where dno=#{dno}
    </delete>

</mapper>